@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/*header*/
header {
  position: absolute;
  background-color: none;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #c8c8c8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 5vw;
}

header h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
header h1 a {
  margin: 0 10px;
  font: bold 28px/50px 'Lilita One';
  color: #ffffff;
}

header .btn_menu {
  font-size: 24px;
  color: #ffffff;
  display: none;
}

header ul {
  display: flex;
}

header #gnb li {
  font: bold 18px/1 'Lilita One';
  margin: 0px 20px;
  letter-spacing: 1px;
}

header #sns li {
  font: bold 18px/1 'Lilita One';
  margin: 0px 15px;
  letter-spacing: 1px;
}

/*background*/
.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

figure .text {
  position: absolute;
  left: 6vw;
  top: 50%;
  transform: translate(0, -50%);
}

figure .text p {
  font: bold 6vw/1 'Permanent Marker';
  color: rgb(255, 255, 255);
}

figure .text ul {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

figure .text li {
  font-size: 20px;
  color: #ffffff;
  font: normal 1.8vw/1 'Permanent Marker';
  margin-right: 10px;
}

/* footer */
footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;

  font: normal 12px/1 'arial';
  letter-spacing: 2px;
  color: #ffffff;
  padding: 5vh 5vw;
  z-index: 2;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
}

#snb {
  display: none;
}
/*Mobile*/
@media screen and (max-width: 968px) {
  #gnb {
    display: none;
  }
  #sns {
    display: none;
  }
  #snb {
    display: block;
  }
  header .btn_menu {
    display: block;
  }

  header #snb .sub_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px 25px;
    background-color: rgb(59, 59, 59);
    border: 1px solid #999;
    border-radius: 10px;
    right: 5vw;
    text-align: right;
    opacity: 1;
    transition-duration: 0.4s;
    visibility: visible;
  }

  header #snb .sub_menu.hide {
    visibility: hidden;
    opacity: 0;
  }

  header #snb li {
    padding: 10px 0px;
    font: normal 16px/1 'Lilita One';
  }

  figure .text li {
    font-size: 20px;
    color: #ffffff;
    font: normal 2.5vw/1 'Permanent Marker';
    margin-right: 10px;
  }
}
